#main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1286F7;
     color: aliceblue;
     #head{
         width: 15vw;
         height: auto;
         display: flex;
         justify-content: space-between;

         a{
             text-decoration: none;
             color: aliceblue;
         }
     }
}