<li>       
    <p>
                <%if((locals.user
                        &&
                        comment.user.id==locals.user.id)){%>
                        <small><a
                                        href="/comment/destroyComment/<%=comment.id%>">x</a></small>

                        <%}%>
                                <%=comment.content%>
                                        <br>
                                        <small>
                                                <%=comment.user.name%>
                                        </small>
        </p>
    </li>